[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
superset = "==0.27.0"
click = "==6.7"
markdown = "==2.6.11"
"psycopg2" = "*"
#mock = "*"
Flask = "==0.12.4"
flask-mail = "*"
pre-commit = "*"
#flask-appbuilder = "==1.12.0"
#pip = "<18.0"
#sqlalchemy= "*"
#uwsgi = "*"
#mysqlclient = "*"

[dev-packages]
flask-webtest = "*"
ipython="*"
pdbpp="*"
pytest-cov = "*"
pytest-pythonpath = "*"
pytest="*"
vcrpy = "*"

[requires]
python_version = "3.6"
