[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
uniset = {editable = true,git = "https://github.com/unicef/datamart-uniset.git",ref = "1c1a4ac1a36ebfecd74ad0b3cab793f96a6e3c1e"}
ipython="*"
pdbpp="*"
pre-commit = "*"
pytest-cov = "*"
pytest-pythonpath = "*"
pytest="*"
vcrpy = "*"

[requires]
python_version = "3.6"

[scripts]
clean = "rm -fr ~build dist .pytest_cache"
fullclean = "pipenv run clean && rm -fr .tox"
run = "gunicorn -w 2 --timeout 60 -b  0.0.0.0:8088 --limit-request-line 0 --limit-request-field_size 0 uniset.app:app"
dev = "uniset runserver -d"
setup = "pip install -r requirements.txt"
