[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
superset = "==0.27.0"
click = "==6.7"
markdown = "==2.6.11"
"psycopg2-binary" = "*"
colorama = "==0.3.9"
#flask = "==0.12.4"
#flask-mail = "*"
#flask-appbuilder = "==1.12.0"
#pip = "<18.0"
#sqlalchemy= "*"
#uwsgi = "*"
#mysqlclient = "*"

[dev-packages]
#flask-webtest = "*"
ipython="*"
pdbpp="*"
pre-commit = "*"
pytest-cov = "*"
pytest-pythonpath = "*"
pytest="*"
vcrpy = "*"

[requires]
python_version = "3.6"

[scripts]

clean = "rm -fr ~build dist .pytest_cache"
fullclean = "pipenv run clean && rm -fr .tox"
